:host {
  height: 100%;
  flex: 1 0 0;
  display: flex;
}

.task-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.divider {
  min-width: 32px;
  width: 32px;
  max-width: 32px;
}

.form {
  flex: 1 1 0;
  min-width: 420px;
  max-width: 420px;
}

.log {
  max-width: calc(100% - 452px);
  flex: 2 1 0;
  align-self: stretch;
}

.field {
  width: 100%;
}
.checkbox {
  margin-right: 16px;
}

.log mat-card {
  height: 100%;
  box-sizing: border-box;
}

.log mat-card-content {
  height: calc(100% - 48px);
}
